<nav style="display: flex; justify-content: space-between">
    <div>
        <a href="/">Homepage</a>
        <h1><a href="{% url 'products:all_products' %}">Products</a></h1>
        <h1><a href="{% url 'stores:all_stores' %}">Stores</a></h1>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            <h3><a href={% url 'admin:index' %}>Admin</a></h3>
            {% endif %}
            <h3><a href="{% url 'users:logout' %}">Logout</a></h3>
            <h3><a href="{% url 'users:customer' %}">Customer page</a></h3>
        {% else %}
        <h3><a href="{% url 'users:login' %}">Login</a></h3>
        <h3><a href="{% url 'users:register' %}">Register</a></h3>
        {% endif %}
    </div>
</nav>