<nav >
    <div>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="{% url 'products:all_products' %}">Products</a></li>
            <li><a href="{% url 'stores:all_stores' %}">Stores</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li><a href={% url 'admin:index' %}>Admin</a></li>
                {% endif %}
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
                <li><a href="{% url 'users:customer' %}">Customer page</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}">Login</a></li>
            <li><a href="{% url 'users:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>