{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Product page{% endblock %}
{% block content %}
<h1>Available products: {{total_products}}</h1>
    <form method="get" action="{% url 'products:all_products' %}">
        {%csrf_token%}
        {{form|crispy}}
        <input type="submit" value="Filter" />
    </form>
    <ul>
        {% for product in products_page %}
            <ul style="width: 100%;">
                <a href="{% url 'products:product_details' product.id %}"><img src="{{ product.image_url }}" width="100" /></a>
                <p>
                    <strong>Name:</strong> {{ product.title }}
                </p>
                <p>
                    <strong>Price:</strong> {{ product.price }} Lei
                </p>
                <p>
                    <strong>Magasine:</strong> {{ product.store.name }}
                </p>
                <br><br><br>
            </ul>
        {% endfor %}
    </ul>
  <p>
        Page {{ products_page.number }} / {{ products_page.paginator.num_pages }} |
        <a href="{% url 'products:all_products' %}?page=1">1</a> |
        {% if products_page.has_previous %}
            <a href="{% url 'products:all_products' %}?page={{ products_page.previous_page_number }}"><-</a>|
        {% endif %}
        {% if products_page.has_next %}
            <a href="{% url 'products:all_products' %}?page={{ products_page.next_page_number }}">-></a> |
        {% endif %}
        <a href="{% url 'products:all_products' %}?page={{ products_page.paginator.num_pages }}">{{ products_page.paginator.num_pages }}</a>
    </p>
{%endblock%}